<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="./../../../../Include/Javascript/common_en-US.js" type="text/javascript"></script>
	<script type="text/javascript">
		var time = new Date(0);
		var preview = false;
		var relativeHTMLPath = "./../../../../";
				var pageid = 0;
				var heroimage = "./../../../../Images/ue5-hero.png";
				var lang = "en-US";
				var basePath = document.location.pathname.substring(0, document.location.pathname.indexOf('/' + lang + '/') + lang.length + 1);
		document.write('<base href="' + basePath + '/BlueprintAPI/Components/SkeletalMesh/" />');
				var udnCSS = './../../../../Include/CSS/udn_public.css';
		var udnLangCSS = '';
				var udnOverrideCSS = './../../../../Include/CSS/skin_overrides.css';
		var udnOverrideDarkCSS = './../../../../Include/CSS/skin_overrides_dark.css';
		var fancyboxCSS = './../../../../Include/CSS/jquery.fancybox.css';
		var jqueryuiCSS = './../../../../Include/CSS/jquery-ui.min.css';
		var qtipCSS = './../../../../Include/CSS/jquery.qtip.css';
		var prettifyCSS = './../../../../Include/CSS/prettify.css';
		var navbarCSS = './../../../../Include/CSS/navBar.css';
		var twentytwentyCSS = './../../../../Include/CSS/twentytwenty.css';
		var recommendationsCSS = './../../../../Include/CSS/jquery.recommendations.css';
	</script>
    <title>Skeletal Mesh | Unreal Engine Documentation</title>
    	    <meta name=viewport content="width=device-width, initial-scale=1" />
	<meta http-equiv="Cache-control" content="no-store">
    <script  src="./../../../../Include/Javascript/CustomEvent.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery-3.4.0.min.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/udn.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/udn_extras.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery-ui.min.js" type="text/javascript"></script>
	    <script  src="./../../../../Include/Javascript/informational.js" type="text/javascript"></script>
	    <script  src="./../../../../Include/Javascript/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery.qtip.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/prettify.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery.slimscroll.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery.event.move.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/jquery.twentytwenty.js" type="text/javascript"></script>
    <script  src="./../../../../Include/Javascript/lazysizes.min.js" type="text/javascript"></script>
	    <script  src="./../../../../Include/Javascript/jquery.recommendations.js" type="text/javascript"></script>
	
    <link async rel="icon" href="./../../../../Include/Images/site_icon.png" type="image/x-icon" />
    <link async rel="shortcut icon" href="./../../../../Include/Images/site_icon.png" type="image/x-icon" />
    <link async href="./../../../../Include/Images/touch_icon.png" rel="apple-touch-icon" />
    <link async href="./../../../../Include/Images/touch_icon_114.png" sizes="114x114" rel="apple-touch-icon" />    
		<script  src="./../../../../Include/Javascript/CollapsibleLists.js" type="text/javascript"></script>
	<script  src="./../../../../Include/Javascript/navigationBarUI.js"></script>
	<script  src="./../../../../Include/Javascript/navigationBar.js"></script>
		
	<link rel="alternate" href="https://docs.unrealengine.com/latest/en-US/BlueprintAPI/Components/SkeletalMesh/" hreflang="x-default" />

	<meta name="title" content="Skeletal Mesh" />
<meta name="description" content="Skeletal Mesh" />
<meta name="availability" content="Public" />
<meta name="crumbs" content="%ROOT%,BlueprintAPI,BlueprintAPI/Components" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:title" content="Skeletal Mesh" />
	<meta property="og:description" content="Skeletal Mesh" />
		<meta property="og:image" content="https://docs.unrealengine.com/5.0/Images/placeholder-social.png" />
	</head>
<body id="webbgThree" style="visibility: hidden;" onload="document.body.style.visibility='visible';">
			<script>window.__tracking_base = 'https://tracking.unrealengine.com';</script>
	<script src="https://tracking.unrealengine.com/tracking.js" async></script>    <div id="webThree">
				<div id="page_head">
						<div id="head">
				<div id="logo"></div>
			</div>
						<div id="pagenav">
				<div class="crumbs" id="crumbs">
<span id="versionContainer">
	<span id="versionSelect" class="btn btn-version" onclick="ToggleMenu($('#versionMenu'), $(this));"></span>
	<div id="versionMenu">
		<div id="4_26" data-version="4.26" class="btn btn-select" onclick="createCookie('version', '4.26', 365);SwitchVersion('4.26');">Unreal Engine 4.26 Documentation</div>
		<div id="4_27" data-version="4.27" class="btn btn-select" onclick="createCookie('version', '4.27', 365);SwitchVersion('4.27');">Unreal Engine 4.27 Documentation</div>
		<div id="5_0" data-version="5.0" class="btn btn-select" onclick="createCookie('version', '5.0', 365);SwitchVersion('5.0');">Unreal Engine 5.0 Documentation</div>
	</div>
</span>
	<span class="separator">></span> <a id="parent_link" href="../../../BlueprintAPI">Unreal Engine Blueprint API Reference</a>

	<span class="separator">></span> <a id="parent_link" href="../../Components">Components</a>

<span class="separator">></span> <span id="page">Skeletal Mesh</span>
</div>				<div id="pageNavRight">
								<!-- Start of Search -->
												<div id="search_container">
					<form name="bodySearch" method="get" action="https://www.unrealengine.com/en-US/bing-search" onsubmit="return validateSearch()">
						<input type="image" src="./../../../../Include/Images/search_box_icon.png" class="searchbutton"/>
						<input type="hidden" name="filter" value="Documentation" />
						<input type="text" name="keyword" placeholder="Search Documentation..." class="searchbox" autocomplete="off"/>
					</form>
				</div>
								<!-- End of Search -->
				<div id="skinContainer">
	<div id="skinSelect" class="btn btn-skin" onclick="ToggleMenu($('#skinMenu'), $(this));"></div>
	<div id="skinMenu">
		<div id="light" class="btn btn-select" onclick="createCookie('skin', 'light', 365);location.reload();">Light Theme</div>
		<div id="dark" class="btn btn-select" onclick="createCookie('skin', 'dark', 365);location.reload();">Dark Theme</div>
	</div>
</div>				</div>
			</div>
		</div>						<div id="navWrapper">
			<div id="nav-filter-container">
				<div id="nav-filter-inner">
					<form>
						<input type="text" placeholder="Filter pages..." id="nav-filter" onchange="clearTimeout(filterTimer); filterTimer = setTimeout(updateNavTreeFilter,250, this.value);if(this.value.length == 0){$('#filter-clear').hide();}else{$('#filter-clear').show();}" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" />
						<button class="close-icon" id="filter-clear" type="reset" onclick="clearTimeout(filterTimer); filterTimer = setTimeout(updateNavTreeFilter,250, '');$(this).hide();"></button>
					</form>
				</div>
			</div>
			<nav id="navPanel">
			</nav>
			<div id="navigation" title="Click to toggle navigation menu"><span>></span></div>
		</div>		
		<div id="splitter">
		</div>
				<div id="contentContainer">
										<div id="pagedefault">
				<div id="product-banner">
	<div id="product-logo"></div>
</div>				<div id="pagecontainer" style="padding-right:0px;">
					<!-- Start of Markdown converted page content -->
										<div class="hero  background">
	<div class="imgContainer"><img src="./../../../../Images/ue5-hero.png" /></div>	<div class="info">
		<div id="pageTitle">
			<h1 id="H1TitleId">Skeletal Mesh</h1>
		</div>
		<h2 >Skeletal Mesh</h2>
		<div id="access">
			<div class="accessContainer">
															</div>
		</div>
	</div>
</div>															<div id="maincol">
						<div class="togglesection" id="osContainer">
	<div class="normaltitle">
		<p>Choose your operating system:</p>
	</div><div class="toggleButtons">
		<div class="btn btn-default btn-toggle OS windows" id="windows" onclick="setSelector('OS', 'windows');">
			<p>Windows</p>
		</div>
		<div class="btn btn-default btn-toggle OS mac" id="mac" onclick="setSelector('OS', 'mac');">
			<p>macOS</p>
		</div>
		<div class="btn btn-default btn-toggle OS linux" id="linux" onclick="setSelector('OS', 'linux');">
			<p>Linux</p>
		</div>
	</div>
</div>																																				<div class="toc">
<div style="position:relative;">
    <div class="title">
    On this page
    </div>
<div id="tocScroll">
    <ul>
	    		    			    <li id="">
	<p><a id="toc_link" href="#actions">Actions</a></p>
	</li>		    			    <li id="">
	<p><a id="toc_link" href="#categories">Categories</a></p>
	</li>		    	        </ul>
</div>
</div>
</div>
<h2 id="actions">Actions</h2>
<div class="member-list">
	<table cellspacing="0">
		<tr class="normal-row">
	<td class="name-cell">
		<a href="AllowAnimCurveEvaluation"><p>Allow Anim Curve Evaluation</p></a>
	</td>
	<td class="desc-cell">
		<p>Allow Anim Curve Evaluation
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="ClearMorphTargets"><p>Clear Morph Targets</p></a>
	</td>
	<td class="desc-cell">
		<p>Clear all Morph Target that are set to this mesh
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetAllowClothActors"><p>Get Allow Cloth Actors</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Allow Cloth Actors
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetAllowRigidBodyAnimNode"><p>Get Allow Rigid Body Anim Node</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Allow Rigid Body Anim Node
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetAllowedAnimCurveEvaluate"><p>Get Allowed Anim Curve Evaluate</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Allowed Anim Curve Evaluate
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetAnimInstance"><p>Get Anim Instance</p></a>
	</td>
	<td class="desc-cell">
		<p>Returns the animation instance that is driving the class (if available). This is typically an instance of
the class set as AnimBlueprintGeneratedClass (generated by an animation blueprint)
Since this instance is transient, it is not safe to be used during construction script
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetClosestPointOnPhysicsAsset"><p>Get Closest Point On Physics Asset</p></a>
	</td>
	<td class="desc-cell">
		<p>Given a world position, find the closest point on the physics asset. Note that this is independent of collision and welding. This is based purely on animation position
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetDefaultAnimatingRig"><p>Get Default Animating Rig</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Default Animating Rig
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetDisableAnimCurves"><p>Get Disable Anim Curves</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Disable Anim Curves
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetLODSyncDebugText"><p>Get LODSync Debug Text</p></a>
	</td>
	<td class="desc-cell">
		<p>Returns a string detailing
</p><p>Target is LODSync Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetMorphTarget"><p>Get Morph Target</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Morph target with given name
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetPostProcessInstance"><p>Get Post Process Instance</p></a>
	</td>
	<td class="desc-cell">
		<p>Returns the active post process instance is one is available. This is set on the mesh that this
component is using, and is evaluated immediately after the main instance.
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="GetSocketLocation"><p>Get Socket Location</p></a>
	</td>
	<td class="desc-cell">
		<p>Get Socket Location
</p><p>Target is Skeletal Mesh Socket</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="HasValidAnimationInstance"><p>Has Valid Animation Instance</p></a>
	</td>
	<td class="desc-cell">
		<p>Returns whether there are any valid instances to run, currently this means whether we have
have an animation instance or a post process instance available to process.
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="InitializeSocketfromLocation"><p>Initialize Socket from Location</p></a>
	</td>
	<td class="desc-cell">
		<p>Sets BoneName, RelativeLocation and RelativeRotation based on closest bone to WorldLocation and WorldNormal
</p><p>Target is Skeletal Mesh Socket</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="ResetAllowedAnimCurveEvaluation"><p>Reset Allowed Anim Curve Evaluation</p></a>
	</td>
	<td class="desc-cell">
		<p>By reset, it will allow all the curves to be evaluated
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="ResetAnimInstanceDynamics"><p>Reset Anim Instance Dynamics</p></a>
	</td>
	<td class="desc-cell">
		<p>Informs any active anim instances (main instance, linked instances, post instance) that a dynamics reset is required
for example if a teleport occurs.
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetAllowAnimCurveEvaluation"><p>Set Allow Anim Curve Evaluation</p></a>
	</td>
	<td class="desc-cell">
		<p>Set Allow Anim Curve Evaluation
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetAllowClothActors"><p>Set Allow Cloth Actors</p></a>
	</td>
	<td class="desc-cell">
		<p>Sets whether cloth assets should be created/simulated in this component.
This will update the conditional flag and you will want to call RecreateClothingActors for it to take effect.
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetAllowRigidBodyAnimNode"><p>Set Allow Rigid Body Anim Node</p></a>
	</td>
	<td class="desc-cell">
		<p>Sets whether or not to allow rigid body animation nodes for this component
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetAllowedAnimCurvesEvaluation"><p>Set Allowed Anim Curves Evaluation</p></a>
	</td>
	<td class="desc-cell">
		<p>resets, and then only allow the following list to be allowed/disallowed
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetAnimInstanceClass"><p>Set Anim Instance Class</p></a>
	</td>
	<td class="desc-cell">
		<p>Set the anim instance class. Clears and re-initializes the anim instance with the new class and sets animation mode to 'AnimationBlueprint'
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetDisableAnimCurves"><p>Set Disable Anim Curves</p></a>
	</td>
	<td class="desc-cell">
		<p>Set Disable Anim Curves
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetMorphTarget"><p>Set Morph Target</p></a>
	</td>
	<td class="desc-cell">
		<p>Set Morph Target with Name and Value(0-1)
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetUpdateAnimationinEditor"><p>Set Update Animation in Editor</p></a>
	</td>
	<td class="desc-cell">
		<p>Sets whether or not to force tick component in order to update animation and refresh transform for this component
This is supported only in the editor
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SetUpdateClothinEditor"><p>Set Update Cloth in Editor</p></a>
	</td>
	<td class="desc-cell">
		<p>Sets whether or not to animate cloth in the editor. Requires Update Animation In Editor to also be true.
This is supported only in the editor
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="SnapshotPose"><p>Snapshot Pose</p></a>
	</td>
	<td class="desc-cell">
		<p>Takes a snapshot of this skeletal mesh component's pose and saves it to the specified snapshot.
The snapshot is taken at the current LOD, so if for example you took the snapshot at LOD1
and then used it at LOD0 any bones not in LOD1 will use the reference pose
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
		<tr class="normal-row">
	<td class="name-cell">
		<a href="ToggleDisablePostProcessBlueprin-"><p>Toggle Disable Post Process Blueprint</p></a>
	</td>
	<td class="desc-cell">
		<p>Toggles whether the post process blueprint will run for this component
</p><p>Target is Skeletal Mesh Component</p>
	</td>
</tr>
			</table>
</div>
<h2 id="categories">Categories</h2>
<div class="member-list">
	<table cellspacing="0">
		<tr class="normal-row">
	<td class="name-cell">
		<a href="AnimationBlueprintLinking"><p>Animation Blueprint Linking</p></a>
	</td>
	<td class="desc-cell">
		<p>Animation Blueprint Linking</p>
	</td>
</tr>
			</table>
</div>

																	</div>
					<!-- End of Markdown converted page content -->
				</div>
												<div id="recommendations"></div>			</div>
						<div id="footer"></div>			
											</div>
	</div></body>
</html>
